<div class="container">
  <div
    class="modal fade"
    id="facturaModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header header text-center mb-2">
          <h3 class="modal-title form-title fs-2 w-100" id="exampleModalLabel">
            Registrar Factura
          </h3>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body p-0">
          <form
            class="mt-5 ps-5 pe-5"
            [formGroup]="nuevaFacturaForm"
            (ngSubmit)="registrarFactura()"
          >
            <input type="hidden" name="id" formControlName="id" />
            <div class="ps-1 pe-1">
              <div class="row g-4 d-flex">
                <div class="col-sm-2">
                  <label for="fechaEmision" class="form-label text-muted"
                    >Fecha Emision:</label
                  >
                  <input
                    type="date"
                    class="form-control text-muted"
                    id="fechaEmision"
                    formControlName="fechaEmision"
                  />
                </div>
                <div class="col-sm-3">
                  <label for="proveedor" class="form-label text-muted"
                    >Proveedor:</label
                  >
                  <select
                    type="text"
                    class="form-select text-muted"
                    id="Proveedor"
                    formControlName="nombre"
                    (change)="onProveedorChange($event)"
                  >@for(proveedor of proveedores; track proveedor){
                    <option [value]="proveedor.razonSocial">{{proveedor.razonSocial}}</option>
                  }

                  </select>
                </div>
                <div class="col-sm-2 d-flex align-items-center">
                  <button class="btn btn-success btn-sm agregar-button">
                    <i class="agregar-icon bi bi-plus-lg"></i>
                  </button>
                </div>
                <div class="col-sm-1">
                  <label for="letraFactura" class="form-label text-muted"
                    >Letra:</label
                  >
                  <select
                    type="text"
                    class="form-select text-muted"
                    id="letraFactura"
                    formControlName="letraFactura"
                  >
                    <option value="A" selected>A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="E">E</option>
                  </select>
                </div>

                <div class="col-sm-3">
                  <label for="numeroFactura" class="form-label text-muted"
                    >Factura N°:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="numeroFactura"
                    formControlName="numeroFactura"
                  />
                </div>
                <div class="mb-5 col-sm-2">
                  <label for="fechaVencimiento" class="form-label text-muted"
                    >Fecha Vencimiento:</label
                  >
                  <input
                    type="date"
                    class="form-control text-muted"
                    id="fechaVencimiento"
                    formControlName="fechaVencimiento"
                  />
                </div>
                <div class="col-sm-3">
                  <label for="cuit" class="form-label text-muted"
                    >CUIT:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="cuit"
                    formControlName="cuit"
                    readonly
                  />
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-12"></div>
              </div>

              <div class="row mb-5 d-flex">
                <div class="mb-2 col-sm-1">
                  <label for="cantidad" class="form-label text-muted"
                    >Cantidad:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="cantidad"
                    formControlName="cantidad"
                  />
                </div>
                <div class="mb-2 col-sm-5">
                  <label for="descripcion" class="form-label text-muted"
                    >Descripcion:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="descripcion"
                    formControlName="descripcion"
                  />
                </div>

                <div class="mb-2 col-sm-1">
                  <label for="unidadMedida" class="form-label text-muted"
                    >Un.Med:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="unidadMedida"
                    formControlName="unidadMedida"
                  />
                </div>
                <div class="mb-2 col-sm-2">
                  <label for="precioUnitario" class="form-label text-muted"
                    >Precio Unitario:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="precioUnitario"
                    formControlName="precioUnitario"
                  />
                </div>
                <div class="mb-2 col-sm-1">
                  <label for="alicuotaIva" class="form-label text-muted"
                    >Impuesto:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="alicuotaIva"
                    formControlName="alicuotaIva"
                  />
                </div>
                <div class="mb-2 col-sm-2">
                  <label for="totalFactura" class="form-label text-muted"
                    >Total:</label
                  >
                  <input
                    type="text"
                    class="form-control text-muted"
                    id="totalFactura"
                    formControlName="totalFactura"
                  />
                </div>
              </div>
              <div class="row"></div>

              <div class="mt-5">
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-2 fs-5">Subtotal:$</div>
                  <div class="col-sm-3 fs-5 text-end">1.000.000,00</div>
                </div>
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-2 fs-5">Impuestos: $</div>
                  <div class="col-sm-3 fs-5 text-end">210.000,00</div>
                </div>
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-5"><hr /></div>
                </div>

                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-2 fs-4 fw-bolder">Total: $</div>
                  <div class="col-sm-3 fs-4 fw-bolder text-end">
                    1.210.000,00
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer mt-5">
              <div class="d-flex justify-content-end">
                @if(registrar){
                <button type="submit" class="btn btn-outline-primary mt-3 mb-3">
                  Registrar
                </button>
                } @if(actualizar){
                <button type="submit" class="btn btn-outline-primary mt-3 mb-3">
                  Actualizar
                </button>
                }
              </div>
            </div>
          </form>
          <div class="color-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-table
  [titulosColumnas]="titulosTabla"
  [datosTabla]="facturas"
  [target]="modalTarget"
  (cambiarRegistrar)="botonRegistrar()"
  (cambiarActualizar)="botonActualizar()"
  (traerNumero)="nuevaFacturaModal()"
  (editar)="editarProveedor($event)"
></app-table>
