/*-------  MODAL  ----------*/
.modal-content{
    background-color: hsla(220,10%,98%,1);
}

.header{
    background-image: url("../../../assets/img/encabezado.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;        
}
h3.form-title{    
    color: whitesmoke;
}

.color-footer{
    background-color: #0b2e50;
    background-size: cover;
    height: 35px;
    width: auto;
    margin: 0;    
}

/*-------CIERRA MODAL----------*/