.modal-content{
    background-color: hsla(220,10%,98%,1);
}

.header{
    background-image: url("../../assets/img/encabezado.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 172px;        
}
.form-title{
    padding-top: 90px;
}

.color-footer{
    background-color: #0F4578;
    height: 30px;
    width: auto;
    margin: 0;
    
}

.contenedor-tabla{
    min-height: 85vh; 
    max-height: 85vh;
    min-width: 90vw;
    max-width: 90vw;
    margin-left: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #f8f9fa; 
}


