<div class="container-fluid bg-buttons d-flex">
    <button type="button" class="btn agregar-button text-white" title="Agregar" data-bs-toggle="modal" data-bs-target="#proveedorModal"
      data-bs-whatever="@getbootstrap">      
      <i class="agregar-icon bi bi-plus-lg text-white"></i>    
    </button>
  </div>


<div class="contenedor-tabla container mt-2 p-2 border rounded">
    <table class="table shadow-sm table-sm table-hover border" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
      <thead class="table-light">
        <!-- <tr>
            <th>Fecha</th>
            <th>N° de OP</th>
            <th>Proveedor</th>
            <th>Concepto</th>
            <th>Importe</th>
        </tr> -->
        <tr class="">
         @for(titulo of titulosColumnas; track titulo){   
          <th>{{ titulo }}</th>
        }
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
            <td>29-07-2024</td>
            <td>2552</td>
            <td>Pablo</td>
            <td>Algo para camiones</td>
            <td>$190.000</td>
        </tr> -->
        <tr>
          @for(dato of datosTabla; track dato){  
            <td>{{ dato }}</td>
        }
        
        </tr>
      </tbody>
    </table>
</div>
