.modal-content{
    background-color: hsla(220,10%,98%,1);
}

.header{
    background-image: url("../../../assets/img/encabezado.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 172px;        
}
.form-title{
    padding-top: 90px;
}

.color-footer{
    background-color: #0F4578;
    height: 25px;
    width: auto;
    margin: 0;
    
}